*{
    color: rgb(7, 1, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cityInput, #inputContainer,button{
    margin: 3px;
    padding:5px;
    text-align:left;
    font-size:20px;
    font-weight:bold;
}

#cityInput {
    width: 150px;
    position:relative;
}

#iconsContainer{
    position: absolute;
    top: 44%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 1200px;    
    border-radius: 10px;
}

.icons{
    display: inline-bock;
    float: left;
    height: 300px;
    width: 190px;
    margin: 20px;
    border: 5px solid rgb(48, 47, 47);
    border-radius: 10px;
}

.image{
    height: 140px;
    width: 100%;
}

.imgClass{
    height: 140px;
    width: 100%;
}

.weather{
    margin: 5px;
   /*  background-color: rgb(106, 215, 255); */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.tempValues, .windValues {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

center {
    height: 275px;
}

h1 {
    text-align:center;
    background-color: rgb(4, 4, 175);
    color:white;
}